::-webkit-scrollbar {
  width: 8px;
  border: rgb(233, 0, 0);
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgba(153, 153, 153, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(153, 153, 153, 0.75);
}